extends layout
block head
  meta(name='generator' content='Hugo 0.104.2')
  link(rel='canonical' href='https://getbootstrap.com/docs/5.2/examples/dashboard/')
  link(href='/assets/dist/css/bootstrap.min.css' rel='stylesheet')
  meta(name='theme-color' content='#712cf9')
  // Custom styles for this template
  link(href='/css/history.css' rel='stylesheet')
block title
  title Dashboard Template &middot; Bootstrap v5.2
block content
  .container-fluid
    .row
      nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
        .position-sticky.pt-3.sidebar-sticky
          ul.nav.flex-column
            li.nav-item
              a.nav-link.active(aria-current='page' href='/account/info')
                span.align-text-bottom(data-feather='users')
                |               個人資料
            li.nav-item
              a.nav-link(href='/account/password')
                span.align-text-bottom(data-feather='file-text')
                |               變更密碼
            li.nav-item
              a.nav-link(href='/account/change_info')
                span.align-text-bottom(data-feather='file-text')
                |               變更個人資料
            //- li.nav-item
              a.nav-link(href='#')
                span.align-text-bottom(data-feather='users')
                |               Customers
            //- li.nav-item
              a.nav-link(href='#')
                span.align-text-bottom(data-feather='bar-chart-2')
                |               Reports
            //- li.nav-item
              a.nav-link(href='#')
                span.align-text-bottom(data-feather='layers')
                |               Integrations
          //- h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted.text-uppercase
            span Saved reports
            a.link-secondary(href='#' aria-label='Add a new report')
              span.align-text-bottom(data-feather='plus-circle')
          //- ul.nav.flex-column.mb-2
            li.nav-item
              a.nav-link(href='#')
                span.align-text-bottom(data-feather='file-text')
                |               Current month
            li.nav-item
              a.nav-link(href='#')
                span.align-text-bottom(data-feather='file-text')
                |               Last quarter
            li.nav-item
              a.nav-link(href='#')
                span.align-text-bottom(data-feather='file-text')
                |               Social engagement
            li.nav-item
              a.nav-link(href='#')
                span.align-text-bottom(data-feather='file-text')
                |               Year-end sale
      main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
        .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
          h1.h2 本次上傳結果
          //test here: left: #{left} right: #{right}
        div#chart
            iframe(width="900" height="800" frameborder="0" scrolling="no" src= url)
        //-.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
          .btn-toolbar.mb-2.mb-md-0
              .btn-group.me-2
                button.btn.btn-sm.btn-outline-secondary(type='button') Share
                button.btn.btn-sm.btn-outline-secondary(type='button') Export
              button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
                span.align-text-bottom(data-feather='calendar')
                |             This week
        div
          table.table.table-striped.table-sm
            thead
              tr
                th(scope='col') #
                th(scope='col') 姓名
                th(scope='col') 性別
                th(scope='col') 檢測項目
                th(scope='col') 影片拍攝日期
                th(scope='col') 拍攝地點
                th(scope='col') 左
                th(scope='col') 右
                th(scope='col') 檢測時間
            tbody
               for value, index in results
                   if(index === results.length-1)
                       tr
                          td= index
                          td= value.name
                          td= value.gender
                          if(value.type === 't23')
                              td= '手指拍打'
                          else if(value.type === 't24')
                              td= '手掌握和'
                          else if(value.type === 't25')
                              td= '前臂迴旋'
                          else if(value.type === 't26')
                              td= '兩腳靈敏度'
                          td= value.taken_date
                          td= value.taken_location
                          td= value.result_left
                          td= value.result_right
                          td= value.created_at
        h2 歷史上傳
        //-.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
          .btn-toolbar.mb-2.mb-md-0
              .btn-group.me-2
                button.btn.btn-sm.btn-outline-secondary(type='button') Share
                button.btn.btn-sm.btn-outline-secondary(type='button') Export
              button.btn.btn-sm.btn-outline-secondary.dropdown-toggle(type='button')
                span.align-text-bottom(data-feather='calendar')
                |             This week
        .table-responsive
          table.table.table-striped.table-sm
            thead
              tr
                th(scope='col') #
                th(scope='col') 姓名
                th(scope='col') 性別
                th(scope='col') 檢測項目
                th(scope='col') 影片拍攝日期
                th(scope='col') 拍攝地點
                th(scope='col') 左
                th(scope='col') 右
                th(scope='col') 檢測時間
            tbody
                for value, index in results
                   tr
                     td= index
                     td= value.name
                     td= value.gender
                     if(value.type === 't23')
                         td= '手指拍打'
                     else if(value.type === 't24')
                         td= '手掌握和'
                     else if(value.type === 't25')
                         td= '前臂迴旋'
                     else if(value.type === 't26')
                         td= '兩腳靈敏度'
                     td= value.taken_date
                     td= value.taken_location
                     td= value.result_left
                     td= value.result_right
                     td= value.created_at
              
  script(src='https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js')
  script(src='https://cdn.plot.ly/plotly-latest.min.js')
  script.
    feather.replace()