extends layout
block head
	link(rel='canonical' href='https://getbootstrap.com/docs/5.0/examples/sign-in/')
	link(href='/css/infomod.css' rel='stylesheet')
block title
	title 修改用戶資訊 | 帕金森氏症雲端檢測服務
block content
	body.text-center
		main.form-register
			form(action='#' method='post')
				h1.h4.mb-3.fw-normal 修改用戶資訊
				.form-floating.name
					input#name.form-control(type='text' placeholder='name' name='name')
					label(for='name') 姓名: #{name}
				.form-floating
					input#email.form-control(type='email' placeholder='email' name='email')
					label(for='email') 帳號: #{email}
				.form-floating
					input#ID.form-control(type='text' placeholder='pid' name='pid')
					label(for='pid') 身份證字號: #{pid}
				.form-floating
					select#gender.form-control(name='gender')
						option(value='female') 男
						option(value='male') 女
						option(value='third_gender') 第三性別
					label(for='gender') 性別: #{gender}
				.form-floating
					input#birthday.form-control(type='date' placeholder='birth' name='birth')
					label(for='birth') 出生年月日: #{birth}
				a.btn.cancel.btn-lg.btn-primary(onclick="history.back()") 返回
